<h1><%= @book.title %></h1>

<% @book.authors.each do |author| %>
  <h3><%= author.name %></h3>
<% end %>

<form action="/books/<%= @book.id %>" method="post">
  <input type="hidden" name="_method" value="delete">
  <button type="submit" class="btn-danger">Delete this book</button>
</form>

<a href="/">Return to home page</a>
